@import './fonts.scss';


html, body {
  margin: 0 auto;
  }

.inviso{
  display:none;
}

.altmain {
  height: 100vh;
  background-color: #FAC800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;


  &__morning{
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 3rem ;
    margin-left: 3rem;
    margin-right: 3rem;
    border-bottom: 1px solid white;
    padding-bottom: 1rem; 
  }

  &__weather{
    margin-left: 3rem;
    margin-right: 3rem;
    border-bottom: 1px solid white;
    padding-bottom: 2rem; 

    &-temp{
      display: flex;
      flex-direction: row;
      margin-top: 1rem;

      &--img{
        margin-right: 1rem;
      }
    }
  }
}

.main {
  height: 100vh;
  background-color: #FAA600;
  filter: blur(1px);
  -webkit-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: 'Nunito';

  &__date{
    margin-left: 3rem;
    text-decoration: none;
    font-size: 1.5rem;
    
  }

  &__time{
    font-size: 3rem;
    text-decoration: none;
    letter-spacing: 4px;
    margin: 1rem 3rem 1rem 3rem;

  }

  &__words{
    margin-left: 3rem;
    text-decoration: none;
    font-size: 1.5rem;
  }
}