html, body {
  margin: 0 auto;
  }

.main {
  height: 100vh;
  background-color: #FAA600;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

  &__date{
    margin-left: 3rem;
    text-decoration: none;
    
  }

  &__time{
    margin-left: 3rem;
    text-decoration: none;

  }

  &__words{
    margin-left: 3rem;
    text-decoration: none;

  }
}