html, body {
  margin: 0 auto;
  }

.inviso{
  display:none;
}

.altmain {
  height: 100vh;
  background-color: #FAC800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

  &__morning{
    margin-left: 3rem;
  }

  &__weather{
    margin-left: 3rem;

    &-temp{
      display: flex;
      flex-direction: row;
    }
  }
}

.main {
  height: 100vh;
  background-color: #FAA600;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

  &__date{
    margin-left: 3rem;
    text-decoration: none;
    
  }

  &__time{
    margin-left: 3rem;
    text-decoration: none;

  }

  &__words{
    margin-left: 3rem;
    text-decoration: none;
  }
}